body{
  font-family: Arial, sans-serif;
  background: linear-gradient(#b8dde1, #ffffff);  /* secondary colour fade */
  color:#002a3a;  /* primary colour for text */
  text-align:center;
  margin:0;
  padding:0;
}

#topBar{
  background-color:#002a3a; /* primary */
  color:white;
  padding:12px;
}
#AlburyLogo {
  height: 50px;
  width: auto;
  margin-right: 10px;
  margin-left: 0;	
}

button{
  background-color:#00b0ad; /* accent colour */
  color:white;
  border:none;
  padding:10px 20px;
  margin:6px;
  border-radius:8px;
  cursor:pointer;
}

button:hover{
  background-color:#009b99; 
}

#mainContainer{
  padding:20px;
}

#footer{
  background-color:#002a3a;
  color:white;
  padding:8px;
  font-size:0.8rem;
  position:fixed;
  bottom:0;
  width:100%;
}

.hide{
  display:none;
}

.option{
  display:flex;
  justify-content:space-between;
  max-width:220px;
  margin:5px auto;
}

#bottomBtns{
  position:fixed;
  bottom:60px;
  right:10px;
}

h1, h2{
  color:#002a3a; 
}

#guideArea, #settingsPanel{
  background-color:#e7f6f7;
  border:1px solid #b8dde1;
  border-radius:10px;
  padding:10px;
  margin-top:10px;
}